[submodule "lib/turbo/common"]
	path = lib/turbo/common
	url = https://github.com/r2rationality/turbo-common.git
[submodule "3rdparty/plutus"]
	path = 3rdparty/plutus
	url = https://github.com/IntersectMBO/plutus.git
